# =========================================
# Archivos y carpetas de caché / modelos
# =========================================
cache/
cache/tts/
*.pth
*.pth.tar

# =========================================
# Python
# =========================================
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg
*.pyo
*.pyd
*.pdb
*.pkl
*.log

# Virtualenv
.venv/
venv/
ENV/
env/
*.pyenv

# =========================================
# IDEs / Editores
# =========================================
.vscode/
.idea/
*.swp
*.swo

# =========================================
# Docker
# =========================================
.dockerignore
docker-compose.override.yml
*.pid

# =========================================
# Otros
# =========================================
*.bak
*.tmp
*.DS_Store
